.container {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.logo {
    position: relative;
    z-index: 2;
    background-image: url('../images/logo.png');
    background-size: 100% 100%;
    float: left;
    width: 132px;
    height: 20px;
}

header {
    background-image: url('../images/bg.jpg');
    min-height: 450px;
    padding: 30px 0;
    background-size: cover;
    background-position: center;
}

nav.desktop {
    float: right;
}

nav.desktop ul {
    list-style-type: none;
}

nav.desktop li {
    display: inline-block;
    margin: 0 15px;
}

nav.desktop a {
    color: white;
    text-decoration: none;
    transition: .2s;
}

nav.desktop a:hover {
    color: rgb(223, 222, 222);
    font-size: 18px;
}

nav li.btn-nav {
    padding: 3px 8px;
    border-radius: 20px;
    border: 1px solid white;
}

div.chamada-header {
    padding: 110px 0;
}

div.chamada-header h2 {
    font-size: 47px;
    color: white;
    font-weight: normal;
}

div.chamada-header p {
    font-size: 17px;
    color: white;
    margin-top: 10px;
    max-width: 600px;
}

div.chamada-header form {
    margin-top: 10px;
}

div.chamada-header input[type=email] {
    display: inline-block;
    border-radius: 100px;
    background-color: white;
    width: 237px;
    height: 35px;
    border: 0;
    outline: 0;
    padding-left: 10px;
}

div.chamada-header input[type=submit] {
    width: 181px;
    height: 43px;
    border-radius: 100px;
    background-color: #ff5f27;
    color: white;
    cursor: pointer;
    border: 0;
}

nav.mobile {
    display: none;
    float: right;
}

nav.mobile ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 70px 0 30px 0;
    background-color: #31475e;
    display: none;
    text-align: center;
}

nav.mobile a {
    display: block;
    color: white;
    text-decoration: none;
}

nav.mobile li {
    padding: 10px 0;
}

nav.mobile li.btn-nav {
    padding: 4px 10px;
    display: inline-block;
}

nav.mobile h3 {
    position: relative;
    z-index: 2;
    color: white;
    cursor: pointer;
    font-size: 26px;
}

section.descricao-danki {
    text-align: center;
    padding: 30px 0;
}

section.descricao-danki p {
    display: inline-block;
    max-width: 980px;
    font-weight: lighter;
    font-size: 22px;
    font-style: italic;
}

section.descricao-danki2 {
    padding: 50px 0;
}

section.descricao-danki2>.container {
    max-width: 960px;
}

.texto-descricao {
    padding: 0 15px;
    float: left;
    width: 55%;
}

.texto-descricao h2 {
    color: #31575e;
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.texto-descricao p {
    color: #6a7c92;
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
}

section.descricao-danki2 img {
    float: left;
    max-width: 500px;
    width: 45%;
}

section.descricao-danki3 {
    padding: 30px 0 60px 0;
}

section.descricao-danki3>.container {
    max-width: 960px;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    min-height: 350px;
    position: relative;
}

.box-depoimento {
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 70%;
    max-width: 506px;
    background-color: white;
    padding: 10px 30px;
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
}

.box-depoimento p {
    font-size: 18px;
    color: #31475e;
    font-weight: lighter;
}


/*inicio media queries*/

@media screen and (max-width: 1024px) {
    nav.desktop {
        display: none;
    }
    nav.mobile {
        display: block;
    }
    div.chamada-header p {
        display: inline-block;
    }
    div.chamada-header input[type=email] {
        margin-bottom: 10px;
    }
    .box-depoimento {
        top: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .texto-descricao {
        width: 100%;
        display: block;
        float: none;
    }
    section.descricao-danki2 img {
        width: 100%;
        display: block;
        margin: 0 auto;
        float: none;
    }
}